
{
  "extends": [
    "react-app",
    "react-app/jest",
    "plugin:prettier/recommended",
    "prettier",
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended"
    // "plugin:cypress/recommended"
  ],
  "plugins": ["prettier", "@typescript-eslint"],
  "rules": {
    "prettier/prettier": [
      "error", 
      {
        "singleQuote": true,
        "parser": "flow",
        "endOfLine": "auto",
        "printWidth": 500
      }
    ]
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  // "parser": "@babel/eslint-parser",
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 12,
    "sourceType": "module"
  }
}